# prevent the local config file from being uploaded to the remote repository
config.toml

# written by the web interface
mcp.json
api_tools.json
skills/
store_cache.json
store_sources.json
presets.json
